/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.honing-input {
  width: 120px;
}

.cost-table{
  width: 80rem;
}

.update-market-message{
  font-size: 3rem;
}

.testing{
  display: flex;
  flex-direction: column;
}

.table-combination-image{
  position: relative;
  top: 10px;
  
}

.table-combination-image-gold {
  position: relative;
  bottom: 10px;
  left: 35px;
}

.table-combination-header-image{
  position: relative;
  left: 10px;
}

.table-combination-header-image-destruction {
  position: relative;
  left: 10px;
}

.table-combination-header-image-guardian {
  position: relative;
 
}