/* import fonts here */

* {
  box-sizing: border-box;
}


html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url('../images/background.png');
}

/* .market-price{
  display:flex;
  flex-direction: column;
  max-width: 12rem;
}

.market-price-button{
max-width: auto;
 height: auto;
} */

.honing-input {
  width: 120px;
}

.cost-table{
  margin-left: 12rem;
  /* padding-left: 5rem; */
  width: 80rem;
}

.update-market-message{
  font-size: 3rem;
}

.backDrop{
  display: flex;
  flex-direction: column;
}

.table-combination-image{
  position: relative;
  top: 10px;
  
}

/* .table-combination-image-gold {
  position: relative;
  bottom: 10px;
  left: 35px;
} */

.table-combination-header-image{
  position: relative;
  left: 10px;
}

.table-combination-header-image-destruction {
  position: relative;
  left: 10px;
}

.table-combination-header-image-guardian {
  position: relative;
 
}

#outlined-basic{
  color: white
}